<section id="about" class="container content-section">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <p class="text-center">
							<%= image_tag  "/images/logo.png", :width => 300 %><br>
							<h3>Sobre Noob games</h3>
						</p>
						<p class="text-justify">
						Somos uma empresa viciada no universo do games, anime, HQ, mangá, filmes, toda a cultura nerd ou geek como vocês quiserem chamar.<br>
							Estamos disposto a realizar uma experiência inesquesível para nossos "gamers client" disponibilizando consoles da todas a geração como SNES, N64, Wii, PS3 e PS4 e os mais novos jogos lançados para PS4.
						</p>								
        </div>
    </div>
</section>
